### 사이킷런으로 회귀분석

- from sklearn.linear_model import LinearRegression

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets

In [4]:
boston = datasets.load_boston()
boston_df = pd.DataFrame(boston.data,columns=boston.feature_names)
boston_df["PRICE"] =pd.DataFrame(boston.target)
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [6]:
from sklearn.model_selection import train_test_split

x= boston_df[['CRIM','RM','LSTAT']]
y= boston_df[["PRICE"]]

x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.7,test_size=0.3,random_state = 102)

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred = lr.predict(x_test)
y_pred

array([[ 5.43992518],
       [26.37917636],
       [18.94428761],
       [27.19624222],
       [28.7577541 ],
       [11.54320186],
       [22.60382108],
       [18.56894956],
       [ 5.5189754 ],
       [11.83167992],
       [23.13446345],
       [27.13803424],
       [12.31630087],
       [21.34604968],
       [36.30714108],
       [18.43268868],
       [16.75470946],
       [31.76210091],
       [20.34310735],
       [27.90833785],
       [36.19906964],
       [23.0030261 ],
       [26.86862663],
       [25.96625858],
       [33.1261359 ],
       [26.63207448],
       [20.48925033],
       [31.19211744],
       [17.01086054],
       [ 9.19879965],
       [18.76990631],
       [32.16141671],
       [25.62685655],
       [25.62862505],
       [27.68600476],
       [29.32264526],
       [14.26393235],
       [18.39887075],
       [17.41832321],
       [21.10665804],
       [23.36515342],
       [26.43292936],
       [27.98500278],
       [28.36152478],
       [20.5678498 ],
       [37.67807452],
       [23.09893839],
       [20.55536597],
       [12.03759163],
       [24.19180889],
       [30.36040898],
       [19.41489179],
       [26.37900367],
       [24.74811052],
       [31.19112208],
       [20.04150191],
       [28.25650288],
       [21.39002252],
       [ 9.9916008 ],
       [ 8.00493525],
       [12.44360911],
       [23.09552738],
       [-6.0309992 ],
       [21.18897877],
       [31.27134072],
       [19.24640807],
       [25.54162928],
       [32.49474297],
       [23.95720573],
       [27.59659365],
       [24.65092087],
       [25.32328041],
       [29.45593048],
       [28.78545049],
       [24.26361995],
       [24.221034  ],
       [22.86012485],
       [14.07105796],
       [12.25254941],
       [31.47361713],
       [25.74808275],
       [22.0924926 ],
       [18.01700742],
       [ 3.48481466],
       [40.32502195],
       [25.37392646],
       [20.09586598],
       [10.95964651],
       [25.89568948],
       [26.35742321],
       [27.61286027],
       [13.17502135],
       [26.86208198],
       [18.07947139],
       [29.66149306],
       [17.72189356],
       [17.90312547],
       [28.71459089],
       [30.08658576],
       [19.29679532],
       [18.34232148],
       [19.57823675],
       [16.98549053],
       [29.52482514],
       [15.81076385],
       [11.75566606],
       [23.05482212],
       [ 5.49540134],
       [27.26711743],
       [20.54778008],
       [24.60643359],
       [25.22935392],
       [21.02959415],
       [33.16535649],
       [15.90244216],
       [22.28273864],
       [12.56484064],
       [21.10958607],
       [33.64240305],
       [ 9.32344128],
       [16.06092246],
       [18.03145101],
       [23.81345249],
       [19.17363307],
       [26.54653926],
       [21.52506483],
       [31.63907769],
       [20.46586996],
       [15.5228598 ],
       [18.69834818],
       [ 7.59604702],
       [24.57587543],
       [25.32659662],
       [32.23075634],
       [29.00655348],
       [26.57010826],
       [19.94784981],
       [10.9235273 ],
       [30.35197015],
       [21.70350715],
       [26.08790602],
       [17.23213432],
       [20.93617135],
       [19.06054389],
       [23.96122588],
       [37.83772961],
       [31.33232107],
       [ 9.19103915],
       [19.85853217],
       [23.32634075],
       [21.7784779 ],
       [19.79928622]])

In [12]:
mse = mean_squared_error(y_test,y_pred)
mse

28.05204389950628

In [13]:
r2 = r2_score(y_test,y_pred)
r2

0.6355016044016517

In [14]:
print("절편(베타이):",lr.intercept_)
print("회귀계수:;",lr.coef_)

절편(베타이): [-2.1790669]
회귀계수:; [[-0.11503944  5.19512234 -0.5967032 ]]

In [16]:
coeff = pd.DataFrame(lr.coef_.T,index =x.columns,columns=["coeff"])
coeff

          coeff
CRIM  -0.115039
RM     5.195122
LSTAT -0.596703